  .show {display:block;}

  .selected_action{
    background-color: #9c9797;
  }

  .game_wait{
    display:none;
  }


  .playerRow{
    display:flex;
    justify-content: space-between;
  }

  .player_column{
    flex: 33.33%;
    padding:5px;
  }


  .player_data{
    display:flex;
    flex-wrap: wrap;
    flex-basis: 0;
  }

  #player{
    flex-basis: 0;
  }

  #otherPlayers{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #rooms{
    display:flex;
    flex-wrap: wrap;
  }

  #rooms a{
    margin:5px;
  }

  .bulletsArrowsDiv{
    display:flex;
  }
  .bulletsArrowsDiv p{
    width:30px;
    font-size: 30px;
    margin:0;
  }
  .bulletsArrowsDiv img{
    height:4em;
    width:auto;
  }
  .charImg {
    max-width: 100%;
  }

  #dices img {
    max-width:50px;
  }

  #chatDiv{
    border: 1px solid black;
    border-radius: 25px;
    width: 200px;
    height: 320px;
    position:relative;
    float:left;
  }

  #chat{
    overflow:auto;
    height:270px;
  }

  #selectedDice{
    filter:brightness(0.9);
  }

  .abilityActivated{
    opacity:0.4;
  }

  #chatInput{
    position: absolute; 
    bottom: 0px; 
    text-align: center;
  }

  .chatLogP{
    border: 1px solid;
    border-radius: 3px;
    margin: 10px 10px;
    background-color: #dab49d;;
    overflow-wrap: break-word;
  }

  #submitBtn{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1px;
    background-color: #dab49d;
  }

  #resetSelectionsButton,#endTurnButton,#roll{
    background-color: #dab49d;
  }

  #rerollButton{
    background-color: #dab49d;
    margin:auto;
    display:none;
  }

  .highlighted{
    background-color:silver;
  }
  .highlighted:hover{
    background-color: #9c9797;
  }

  *{
    box-sizing: border-box;
}
body {
    background-color: #F3E9DC;
    font-family: 'Saira Stencil One';
    text-align: center;
    display: flex;
    justify-content: center;
}
button {
    font-family: inherit;
}
.center_div{
    margin:auto;
}
.submit_button {
    background-color: #dab49d;
    height:30px;
    text-decoration: none;
    color: initial;
}
.lobby_buttons a {
    background-color: #dab49d;
    height:50px;
    text-decoration: none;
    color: initial;
    padding:10px;
}
.lobby_buttons button:hover {
    background-color: #FFFFFF;
}
.bang_text {
    color: #DC1313;
    line-height: 0;
}
#create_room__modal,#join_room__modal,#help__modal,#join_room_form__modal {
    display:none;
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
    padding-top: 100px;
}
.modal_content{
    background-color: #fff4e6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.smallDices {
  max-height: 25px;
  vertical-align: bottom;
}

.selectedDice {
  filter: brightness(0.6);
}

.guideImages {
  max-width: 100%;
}
