 .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: #ecebeb;
  }
  
  .show {display:block;}

  .selected_action{
    background-color: #9c9797;
  }

  .game_wait{
    filter:blur(8px);
    pointer-events: none;
  }


  .playerRow{
    display:flex;
    justify-content: space-between;
  }

  .player_column{
    flex: 33.33%;
    padding:5px;
  }

  .player_data{
    display:flex;
    flex-wrap: wrap;
  }

  #otherPlayers{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #rooms{
    display:flex;
    flex-wrap: wrap;
  }

  .bulletsArrowsDiv{
    display:flex;
  }
  .bulletsArrowsDiv p{
    font-size: 30px;
    margin:0;
  }
  .bulletsArrowsDiv img{
    height:4em;
    width:auto;
  }

  .roleImg {
    max-width: 230px;
  }
  .charImg {
    max-width: 300px;
  }

  #dices img {
    max-width:50px;
  }

  #log{
    border: 1px solid black;
    border-radius: 25px;
    overflow:auto;
    width: 200px;
    height: 320px;
    float:left;
    margin-right:5px;
  }

  #chatDiv{
    border: 1px solid black;
    border-radius: 25px;
    width: 200px;
    height: 320px;
    position:relative;
    float:left;
  }

  #chat{
    overflow:auto;
    height:270px;
  }

  #chatInput{
    position: absolute; 
    bottom: 0px; 
    text-align: center;
  }

  .chatLogP{
    border: 1px solid;
    border-radius: 3px;
    margin: 10px 10px;
    background-color: lightgray;
    overflow-wrap: break-word;
  }

  #submitBtn{
    margin-left:auto;
    margin-right:auto;
  }